<img src="../../images/banners/{{number}}.png"/>
<ul>
    <li><a href="/">Home</a></li>
    <br>
    <li><a href="/dogs">Dogs</a></li>
    <li><a href="/cats">Cats</a></li>
    <!--
    <li><a href="/yell">Yell</a></li>
    <li><a href="/exclaim">Exclaim</a></li>
    <li><a href="/echo/Hello">Echo: Hello</a></li>
    -->
</ul>
